* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
html{
    font-family: 'Circular Std';
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}
.nav-web{
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-web span{
    display: none;
}
.nav-mobile{
    display: none;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-item-1{
    width: 100px;
    margin-right: 12px;
    object-fit: cover;
}
.logo-item-2{
    width: 80px;
    object-fit: cover;
}
.menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu ul li{
    font-size: 16px;
    line-height: 20.24px;
    color: #090B17;
    margin: 0 15px;
    cursor: pointer;
}
.menu ul li:first-child{
    margin-left: 0;
}
.menu ul li:last-child{
    margin-right: 0;

}
.nav-web .right-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.option-language{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.option-language p{
    font-size: 16px;
    line-height: 20.24px;
    color: #090B17;
    margin: 0 4px 0 8px;
    cursor: pointer;
}
.login{
    cursor: pointer;
}
.sign-up{
    margin-left: 20px;
    padding: 10px 15px;
    border-radius: 7px;
    color: #fff;
    font-size: 15px;
    line-height: 18,97px;
    background: #4F49F5;
    cursor: pointer;;
}
.bluebg{
    background: #2E4494;
}
.bluebg .container-section{
    max-width: 744px;
    width: 100%;
    margin: 0 auto;
}
.bluebg .title{
    color: #FFFFFF;
    font-size: 55px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -1px;
    text-align: center;
    padding: 100px 0 10px 0;
}
.bluebg .desc{
    max-width: 603px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 36px;
}
.search-form{
    margin: auto;
    max-width: 570px;
    margin-bottom: 50px;
}
.search-form input{
    padding: 23px 287px 23px 28px;
    border-radius: 6px;
    outline: none;
    border: none;
    max-width: 570px;
    width: 100%;
}
.search-form input::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
}
.search-form button{
    width: 193px;
    padding: 17px 20px 18px 20px;
    border-radius: 6px;
    border: none;
    background-color:#F4B55E;
    color: #FFFFFF;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0px;
    position: absolute;
    transform: translate(-102%, 3%);
    cursor: pointer;
}
.bluebg img{
    margin: 0 auto;
    display: block;
    padding-bottom: 113px;
}
.bluebg .trustpilot-mobile{
    display: none;
}
.statistical{
    display: none;
}
.as-seen-on{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: center;
    display: block;
    margin: 39px auto 30px auto;
    opacity: 0.6;
}
.slide-logo{
    max-width: 871px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 96px;
    gap: 10px;
}
.over-view-mobile{
    display: none;
}
.resume{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 151px;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
}
.resume .over-view{
    flex: 0 0 50%;
}
.resume .over-view .bg{
    padding: 30px;
    box-shadow: rgb(220 220 220 / 30%) 2px 2px 15px 5px;
}
.descriptions {
    padding-left: 100px;
}
.descriptions p{
    font-family: 'Circular Std';
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #0F2137;
    margin-bottom: 20px;
    max-width: 407px;
}
.descriptions span{
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #6B7280;
    margin-bottom: 20px;
    max-width: 407px;
    display: block;
}
.descriptions .discover-ads-search{
    border-left: 4px solid #4F49F5;
    margin-top: 20px;
}
.descriptions .discover-ads-search h3{
    font-family: 'Circular Std';
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #0F2137; 
}
.descriptions .discover-ads-search p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #6B7280;
}
.descriptions .discover-ads-search p{
    padding-left: 14px;
}
.descriptions .discover-ads-related,
.descriptions .in-stream-ads{
    border-left: 4px solid #DADEE5;
    margin-top: 30px;
}
.descriptions h3{
    padding-left: 14px;
    font-weight: 400;
}
.mobile{
    display: flex;
    margin-bottom: 130px;
    align-items: center;
}
.mobile .descriptions{
    padding: 0;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.mobile .descriptions p{
    font-family: 'Circular Std';
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #0F2137;
    max-width: 443px;
}
.mobile .descriptions span{
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #6B7280;
    display: block;
    max-width: 443px;
}
.mobile .descriptions button{
    padding: 14px;
    background-color: #4F49F5;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-family: 'Circular Std';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    cursor: pointer;
}
.mobile .mobile-img{
    flex: 0 0 50%;
}
.mobile .mobile-img img{
    width: 100%;
}
.testimonial .title-web{
    font-family: 'Circular Std';
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    margin-bottom: 70px;
}
.testimonial .title-mobile{
    display: none;
}
.testimonial .review-990{
    display: none;
}
.testimonial .review-575{
    display: none;
}
.testimonial .review-web{
    /* display:grid;   
    grid-auto-flow:column;  
    grid-gap: 30px; 
    overflow: hidden; */
    margin: 0 0 45px 0;
}
.testimonial .review-mobile{
    display: none;
}
.slick-initialized .slick-slide {
    margin: 0 10px;
    height: 360px;
    width: 370px;
    border-radius: 10px;
    box-shadow: rgb(220 220 220 / 30%) 2px 2px 15px 5px;
    padding: 30px;
}
.slick-initialized .slick-slide .item-body:hover{
    scale: 1.05;
}
.testimonial .review .review-item{
    height: 360px;
    width: 370px;
    border-radius: 10px;
    box-shadow: rgb(220 220 220 / 30%) 2px 2px 15px 5px;
}
.testimonial .review .review-item .item-body{
    padding: 30px;
    overflow: hidden;
}
.testimonial .review .review-item .item-body:hover{
    scale: 1.1;
}
.testimonial .review-item .infomation {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}
.testimonial .review-item .avatar{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 14px;
}
.testimonial .review-item .name{
    font-family: 'Circular Std';
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #19191B;
}
.testimonial .review-item .review-content{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #0F2137;
}
.testimonial .review-item .review-content span{
    color: #4F49F5;
}
.testimonial .trustpilot{
    display: block;
    margin: 0 auto;
}
.best-in-class{
    margin: 130px 20px 150px 20px;
    display: flex;
    align-items: center;
}
.best-in-class .section-img{
    flex: 0 0 50%;
    min-width: 345px;
}

.best-in-class img{
    width: 100%;
    object-fit: cover;
    padding: 15px;
}
.best-in-class .content-web{
    flex: 0 0 50%;
}
.best-in-class .content-web .title{
    max-width: 440px;
    font-family: 'Circular Std';
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #0F2137;
    margin-bottom: 30.56px;
}
.best-in-class .section-content-web{
    max-width: 475px;
    margin: 0 auto;
}
.check{
    display: flex;
    margin-bottom: 10px;
    max-width: 480px;
}
.check img{
    width: 20px;
    height: 20px;
    margin-right: 12px;
    margin-top: 5.5px;
    object-fit: cover;
    padding: 0;
}
.check p{
    font-family: 'Circular Std';
    font-size: 17px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
}
.best-in-class .content-web button{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    padding: 14px 17px;
    background-color: #4F49F5;
    color: #FFFFFF;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-top: 25.44px;
}
.banner{
    background-color: #2E4494;
}
.banner .truspilot-mobile{
    display: none;
}
.banner .title{
    font-size: 38px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #FFFFFF;
    max-width: 724px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 35px;
}
.banner .search-form{
    margin-bottom: 0;
}
.banner img{
    display: block;
    margin: 35px auto 60px auto;
}
.youtube{
    display: flex;
    padding: 140px 0;
    align-items: center;
}
.youtube .content{
    margin-right: 61px;
}
.youtube .content .title{
    font-size: 34px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #0F2137;
    padding-right: 37px;
    margin-bottom: 20px;
}
.youtube .content .desc{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
}
.youtube .youtube-img{
    flex: 0 0 50%;
}
.youtube .youtube-img img{
    width: 100%;
}
.bg-create-business{
    background-color: #F8F8FB;
}
.create-business .title{
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    max-width: 446px;
    margin: 0 auto;
    padding: 45px 0 16px 0;
}
.create-business .desc{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    color: #6B7280;
    max-width: 627px;
    margin: 0 auto;
    padding-bottom: 49px;
}
.create-business .group{
    display: flex;
    gap: 32px;
}
.create-business .group .group-item{
    max-width: 33.3333333%;
}
.create-business .group .group-item img{
    width: 100%;
    height: 270px;
    border-radius: 5px;
    object-fit: cover;
}
.create-business .group .group-item .title{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.10000000149011612px;
    text-align: left;
    color: #0F2137;
    margin: 0 0 12px 0;
    padding: 0;
}
.create-business .group .group-item .desc{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #6B7280;
    margin: 0;
    padding: 0;
}
.create-business .group-item .content{
    width: calc(100% - 20px);
    padding: 20px 22px 25px 22px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 6px;
    transform: translateY(-56px);
    overflow: hidden;
}
.promotion .title-promotion{
    padding: 70px 0;
}
.promotion .title-promotion .increase{
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    color: #4F49F5;
    margin-bottom: 16px;
}
.promotion .title-promotion .title{
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    color: #000;
    max-width: 546px;
    margin: 0 auto;
}
.promotion .title-promotion .desc{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    color: #6B7280;
    margin: 0 auto;
    max-width: 635px;
}
.promotion .performance{
    display: flex;
    gap: 36px;
    margin-bottom: 40px;
}
.promotion .performance img{
    display: block;
    margin: 0 auto;
}
.promotion .performance .title{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    color: #0F2137;
    margin-top: 60px;
    margin-bottom: 15px;
}
.promotion .performance .desc{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    color: #6B7280;
    margin: 0 25px;
}
.optimize .optimize-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.optimize .optimize-item .section-img{
    flex: 0 0 50%;
}
.optimize .optimize-item .section-content{
    flex: 0 0 50%;
}
.optimize .optimize-item:last-child{
    margin-bottom: 70px;
}
.optimize .optimize-item .optimize-img{
    width: 100%;
    object-fit: cover;
}
.optimize .optimize-item .content .number{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #F2A438;
    margin-bottom: 20px;
}
.optimize .optimize-item .content .number p{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    padding: 10px 0;
    color: #FFFFFF;
}
.optimize .optimize-item .content .title{
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.5px;
    text-align: left;
    color: #0F2137;
    margin-bottom: 25px;
}
.optimize .optimize-item .content .desc{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #6B7280;
    margin-bottom: 20px;
}
.optimize .optimize-item .check span{
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
}
.jackpots{
    background-color: #06283D;
}
.jackpots .title{
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 669px;
    padding: 70px 0 50px 0;
}
.jackpots .slide {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.jackpots .slide .slide-item{
    background-position: center;
    background-size: cover;
}
.jackpots .slide .slide-item .content{
    display: flex;
    align-items: center;
    gap: 75px;
    margin: 330px 25px 25px 25px;
}
.jackpots .slide .slide-item .content .name{
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.jackpots .slide .slide-item .content .name span{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}
.jackpots .slide .slide-item .content span{
    display: block;
}
.jackpots .slide .slide-item .content img{
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.jackpots .page{
    display: flex;
    gap: 7px;
    justify-content: center;
    margin: 50px 0 65px 0;
}
.jackpots .page .page-item{
    background-color: #FFFFFF;
    width: 11px;
    height: 11px;
    border-radius: 100%;
    opacity: 0.2;
}
.jackpots .page .active{
    width: 20px;
    height: 11px;
    border-radius: 10px;
    color: #FFFFFF;
    opacity: 0.9;
}
.faq{
    max-width: 750px;
    margin: 0 auto;
    padding: 80px 0 120px 0;
}
.faq .title{
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    margin-bottom: 55px;
}
.faq .faq-item{
    padding: 24px 25px;
    box-shadow:  0 0 10px rgb(220 220 220 / 30%);
    margin-bottom: 12px;
    border-radius: 6px;
}
.faq .faq-item-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq .faq-item .title{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #0F2137;
}
.faq .faq-item .title span{
    margin-right: 15px;
}
.faq .faq-item .content{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #6B7280;
    margin: 12px 35px 0 35px;
}
.faq .faq-item img{
    width: 15px;
    height: 15px;
    object-fit: contain;
}
.banner .option{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 34px 0 77px 0;
}
.banner .option .option-item{
    display: flex;
    align-items: center;;
}
.banner .option .option-item img{
    margin: 0 10px 0 0;
}
.banner .option .option-item p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
}

#footer img{
    width: 110px;
    object-fit: cover;
    margin: 50px 0 21px 0;
}
#footer .content{
    display: flex;
    justify-content: space-between;
}
#footer .content .left{
    flex: 0 0 30%;
}
#footer .content .left .desc{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 25px;
}
#footer .content .left .copyright{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 15px;
}
#footer .content .left .contact img{
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin: 0 15px 15px 0;
}
#footer .content .center{
    flex: 0 0 30%;
    display: flex;
    gap: 110px;
}
#footer .content .center .about,
#footer .content .center .term{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}
#footer .content .right{
    flex: 0 0 30%;
}
#footer .content .right p{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.7;
}
#footer .content .right img{
    display: block;
    margin: 15px 0 0 0;
}
#footer .content .right .card-img{
    width: 250px;
}
#footer .subtext{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.10000000149011612px;
    text-align: center;
    opacity: 0.8;
    margin: 30px 0 38px 0;
}